#curriculum-vitae {
  #contact {
    ul {
      padding-left: 15px;
      list-style: disc;
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        color: var(--text-color);
        background-color: var(--invert-05);
        padding: 2px 8px;
        border-radius: 8px;

        &:last-child {
          text-decoration: underline;
        }
      }
    }
  }
}
