#chat-header {
  padding: 16px;
  border-bottom: solid 1px var(--invert-10);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    color: var(--text-color-secondary);
  }
}
