.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 100px;

  &.primary,
  &.submit {
    // background: linear-gradient(var(--direction), var(--invert25), var(--invert50));
    background: linear-gradient(
      var(--direction-top),
      var(--invert),
      var(--invert-80)
    );
  }

  &.secondary {
    background: linear-gradient(
      var(--direction-top),
      var(--invert-33),
      var(--invert-10)
    );
  }

  &.text {
    background: none;
  }

  span {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    gap: 8px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
  }

  &.primary span,
  &.submit span {
    // background: linear-gradient(var(--direction), var(--main50), var(--main25));
    background: linear-gradient(
      var(--direction-top),
      var(--main-05),
      var(--main-25)
    );
    color: var(--main);
  }

  &.secondary span {
    background: linear-gradient(
      var(--direction-top),
      var(--main-33),
      var(--main-10)
    );
    color: var(--text-color);
  }

  &.text span {
    background: none;
    color: var(--text-color-secondary);
    font-weight: normal;
  }

  &:hover {
    &.primary,
    &.submit {
      background: linear-gradient(
        var(--direction-top),
        var(--invert-80),
        var(--invert-33)
      );
    }

    &.secondary {
      background: linear-gradient(
        var(--direction-top),
        var(--invert-25),
        var(--invert-05)
      );
    }

    &.text span {
      text-decoration: underline;
    }
  }
}
