.cv-section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > h3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0 4px;
    gap: 6px;
    color: var(--invert);
    font-weight: 600;
    font-size: 16px;

    > .details {
      color: var(--text-color-secondary);
      font-size: 14px;
      font-weight: normal;
    }
  }

  > .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
