#pixel {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    margin-left: 8px;
    color: var(--text-color-secondary);
  }

  table {
    // border-collapse: separate;
    // border-spacing: 8px;

    td {
      padding: 4px;

      .pixel {
        background-color: var(--invert-05);
        --size: 16px;
        width: var(--size);
        height: var(--size);
        transition: all 2s ease-out;
      }

      &:hover .pixel {
        transition: background-color 0s;
        background-color: var(--invert);
        box-shadow: 0 0 20px 0px var(--invert);
      }
    }
  }
}
