#pixel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 128px;

  span {
    margin-left: 8px;
    color: var(--text-color-secondary);
  }

  table {
    td {
      padding: 4px;

      &.empty {
        opacity: 0;
      }

      .pixel {
        --size: 16px;
        --base-hue: 120; // Couleur de base (vert ici)
        width: var(--size);
        height: var(--size);
        transition: background-color 2s ease-out;

        &.level-1 {
          background-color: var(--invert-10);
        }

        &.level-2 {
          background-color: hsl(var(--base-hue), 50%, var(--level-2-lum));
        }

        &.level-3 {
          background-color: hsl(var(--base-hue), 50%, var(--level-3-lum));
        }

        &.level-4 {
          background-color: hsl(var(--base-hue), 50%, var(--level-4-lum));
        }

        &.level-5 {
          background-color: hsl(var(--base-hue), 50%, var(--level-5-lum));
        }
      }

      &:hover .pixel {
        transition: background-color 0s;

        &.level-1 {
          background-color: var(--invert);
          box-shadow: 0 0 20px 0px white;
        }

        &.level-2 {
          background-color: hsl(
            var(--base-hue),
            50%,
            calc(var(--level-2-lum) + 10%)
          );
          box-shadow: 0 0 20px 0px
            hsl(var(--base-hue), 70%, calc(var(--level-2-lum) + 10%));
        }

        &.level-3 {
          background-color: hsl(
            var(--base-hue),
            50%,
            calc(var(--level-3-lum) + 10%)
          );
          box-shadow: 0 0 20px 0px
            hsl(var(--base-hue), 70%, calc(var(--level-3-lum) + 10%));
        }

        &.level-4 {
          background-color: hsl(
            var(--base-hue),
            50%,
            calc(var(--level-4-lum) + 10%)
          );
          box-shadow: 0 0 20px 0px
            hsl(var(--base-hue), 70%, calc(var(--level-4-lum) + 10%));
        }

        &.level-5 {
          background-color: hsl(
            var(--base-hue),
            50%,
            calc(var(--level-5-lum) + 10%)
          );
          box-shadow: 0 0 20px 0px
            hsl(var(--base-hue), 70%, calc(var(--level-5-lum) + 10%));
        }
      }
    }
  }
}

body.light-theme {
  --level-2-lum: 70%;
  --level-3-lum: 60%;
  --level-4-lum: 45%;
  --level-5-lum: 30%;
}

body.dark-theme {
  --level-2-lum: 20%;
  --level-3-lum: 35%;
  --level-4-lum: 50%;
  --level-5-lum: 70%;
}
