#curriculum-vitae {
  #interests {
    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      span {
        // background-color: var(--invert-10);
        color: var(--text-color);
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
      }
    }

    // ul {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 8px;

    //   li {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     gap: 8px;
    //     color: var(--text-color);
    //   }
    // }
  }
}
