#curriculum-vitae {
  display: none;

  flex-direction: row;
  padding: 24px;
  gap: 32px;

  --left: 44%;

  overflow: auto;

  > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #left {
    width: var(--left);
  }

  #right {
    width: calc(100% - var(--left));
  }
}

@page {
  margin: 0;
}

@media print {
  body {
    background-color: #fff;
  }

  #root {
    // width: 795px;
    // border: 2px solid var(--invert-10);

    --main: #fff;
    --invert: #000;
    --main-rgb: 255, 255, 255;
    --invert-rgb: 0, 0, 0;

    --main-80: rgba(var(--main-rgb), 0.8);
    --main-50: rgba(var(--main-rgb), 0.5);
    --main-33: rgba(var(--main-rgb), 0.33);
    --main-25: rgba(var(--main-rgb), 0.25);
    --main-10: rgba(var(--main-rgb), 0.1);
    --main-05: rgba(var(--main-rgb), 0.05);
    --main-02: rgba(var(--main-rgb), 0.02);

    --invert-80: rgba(var(--invert-rgb), 0.4);
    --invert-50: rgba(var(--invert-rgb), 0.15);
    --invert-33: rgba(var(--invert-rgb), 0.165);
    --invert-25: rgba(var(--invert-rgb), 0.125);
    --invert-10: rgba(var(--invert-rgb), 0.05);
    --invert-05: rgba(var(--invert-rgb), 0.025);
    --invert-02: rgba(var(--invert-rgb), 0.01);

    --text-color: rgba(var(--invert-rgb), 0.8);
    --text-color-secondary: rgba(var(--invert-rgb), 0.5);

    --cv-border-top: #f2f2f2;
    --cv-border-bottom: #f9f9f9;

    --cv-top: #fdfdfd;
    --cv-bottom: #fcfcfc;

    > * {
      display: none !important;
    }
  }

  #curriculum-vitae {
    display: flex !important;
  }
}
