.project {
  --radius: 12px;
  padding: 2px;
  border-radius: var(--radius);
  background: linear-gradient(
    var(--direction-top),
    var(--invert-05),
    var(--invert-10)
  );

  > div {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 16px;
    gap: 24px;
    border-radius: calc(var(--radius) - 2px);
    background: linear-gradient(
      var(--direction-top),
      var(--main-25),
      var(--main-50)
    );

    header {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h4 {
      color: var(--text-color);
      font-size: 20px;
      font-weight: normal;
    }

    > img {
      border-radius: 8px;
      width: 512px;
      height: 288px;
      object-fit: cover;
    }

    .content {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 16px;

      p {
        flex: 1;
        max-width: 512px;
        color: var(--text-color-secondary);
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
      }
    }
  }
}
