.timeline-element {
  width: calc(50% - 32px);
  display: flex;
  position: relative;
  align-items: flex-end;

  &::after {
    content: "";
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.75)
    );
  }

  &:nth-child(2n + 1)::after {
    right: -34px;
    left: auto;
    background: linear-gradient(-90deg, var(--invert-25), var(--main));
  }

  &:nth-child(2n)::after {
    left: -32px;
    right: auto;
    background: linear-gradient(90deg, var(--invert-25), var(--main));
  }

  > .dates {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    opacity: 0;
    padding: 24px 0;
    color: var(--text-color-secondary);
    transition: opacity 0.5s;
  }

  &:hover .dates {
    opacity: 1;
  }

  &:nth-child(2n) > .dates {
    left: calc(-64px - 16px);
  }

  &:nth-child(2n + 1) > .dates {
    right: calc(-64px - 16px);
  }

  > .content {
    --radius: 8px;
    padding: 2px;
    border-radius: var(--radius);
    background: linear-gradient(
      var(--direction-top),
      var(--invert-10),
      var(--invert-05)
    );
    max-width: 333px;

    > div {
      padding: 16px;
      border-radius: calc(var(--radius) - 2px);
      background: linear-gradient(
        var(--direction-top),
        var(--main-50),
        var(--main)
      );
      color: var(--invert);
      display: flex;
      gap: 12px;
      flex-direction: column;

      > span {
        color: var(--text-color-secondary);
      }

      > h3 {
        font-size: 18px;
        font-weight: 600;
      }

      > div {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        color: var(--text-color);

        &.details {
          margin-left: 2px;
          gap: 8px;
        }

        &.status {
          font-weight: 600;

          &.graduated {
            color: hsl(147, 67.2%, 35.9%);
          }

          &.in-progress {
            color: hsl(204, 86.7%, 53.1%);
          }
        }
      }
    }
  }
}
