#chat-input {
  padding: 16px;

  &.loading {
    > div {
      background: linear-gradient(
        var(--direction-top),
        var(--invert-10),
        var(--invert-05)
      );

      > div {
        background: linear-gradient(
          var(--direction-top),
          var(--main-25),
          var(--main-50)
        );

        textarea {
          cursor: not-allowed;
          opacity: 0.5;

          &::placeholder {
            color: var(--text-color-secondary);
          }
        }

        svg {
          animation: spin 1s linear infinite;
          opacity: 0.5;
          margin-left: 16px;
        }
      }
    }
  }

  > div {
    display: flex;
    // height: 64px;
    padding: 2px;
    overflow: hidden;
    border-radius: 16px;
    background: linear-gradient(
      var(--direction-top),
      var(--invert-10),
      var(--invert-05)
    );

    > div {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
      border-radius: 14px;
      background: linear-gradient(
        var(--direction-top),
        var(--main-80),
        var(--main)
      );

      textarea {
        flex: 1;
        height: 100%;
        padding: 24px 16px;
        background: transparent;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      button {
        --size: 32px;
        width: var(--size);
        height: var(--size);
        margin-right: 12px;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
